<div class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
        <%= f.input :email, required: true, autofocus: true %><br />
        <%= f.input :first_name, required: true %><br />
        <%= f.input :last_name, required: true %><br />
        <%= f.input :password, required: true %>
        <% if @minimum_password_length %>
        <div class="form-text">(<%= @minimum_password_length %> characters minimum)</div>
        <% end %><br />
        <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %><br />
        <div class="actions border-bottom">
          <%= f.submit "Sign up", class:"btn btn-primary mb-3" %>
        </div>
      <% end %>
      <div class="mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
