<%= form_for(@task) do |f| %>
  <div class="display-block mb-3">
    <%= f.check_box :completed, class: "form-check-input" %>
    <%= f.label :completed, class: "form-label my-0 mx-1" %>
  </div>
  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :details, class: "form-label" %>
    <%= f.text_area :details, class: "form-control" %>
  </div>
  <% if task.persisted? %>
    <%= f.submit class: "btn btn-warning", value: "Update!" %>
  <% else %>
    <%= f.submit class: "btn btn-primary", value: "Create!" %>
  <% end %>
<% end %>
