<div class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2><%= pluralize(@tasks.length, 'task') %></h2>
          <div>
            <%= link_to new_task_path, class:"btn btn-outline-primary" do %>
              <i class="fa-solid fa-plus"></i>
              <span>task</span>
            <% end %>
            <%= link_to new_group_path, class:"btn btn-outline-primary" do %>
              <i class="fa-solid fa-plus"></i>
              <span>group</span>
            <% end %>
          </div>
        </div>
        <div class="mb-3">
          <%= form_for tasks_path, class:"d-flex", method: :get do |f| %>
            <%= text_field_tag :query,
                               params[:query],
                               class:"form-control me-2",
                               placeholder:"Find a task..." %>
            <%=  button_tag(type:"submit", class:"btn btn-primary") do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          <% end %>
        </div>
      <% if @tasks.length.nonzero? %>
        <div class="progress mb-3" style="height: 20px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progressbar" style="width: <%= @progress %>%;" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100"><small><%= @progress.to_i %>%</small></div>
            <% if @progress == 100.0 %>
              <script>
              if (true) {
                const progress = document.getElementById('progressbar');
                progress.classList.add('bg-success');
                progress.innerText= 'All done!';
              };
              </script>
            <% end %>
          </div>
        <ul class="list-group">
          <% @tasks.each do |task| %>
            <li class="list-group-item d-flex justify-content-between">
              <div class="d-flex flex-row">
                <% if task.completed %>
                  <input type="checkbox" class="form-check-input align-self-center me-1" checked=true disabled>
                <% else %>
                  <input type="checkbox" class="form-check-input align-self-center me-1" disabled>
                <% end %>
                <div class="d-flex flex-column mx-2">
                  <%= link_to task.title, task_path(task) %>
                  <div class="d-flex align-items-center opacity-25">
                    <i class="fa-solid fa-layer-group me-1"></i>
                    <small><%= task.group.name %></small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <div>
                  <%= link_to task_path(task), class:"text-danger",
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <span class="my-3">
            <%= params[:query] ? 'No task found' : 'You don\'t have any task yet!' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
